{% extends "base.html" %}
{% block app %}
<div class="container">
  <div class="row row-my">
    <div class="col justify-content-center zoom">
      <a href="{{ url_for('google_get_view') }}"><img src="{{ url_for('google.static', filename='img/google.png') }}"/><p>Google News</p></a>
    </div>
    <div class="col justify-content-center zoom">
      <a href="{{ url_for('bbc_get_view') }}"><img src="{{ url_for('bbc.static', filename='img/bbc.png') }}"/><p>BBC News</p></a>
    </div>
    <div class="col justify-content-center zoom">
      <a href="{{ url_for('cnn_get') }}"><img src="static/img/cnn.png"/><p>CNN News</p></a>
    </div>
  </div>
  <div class="row row-my">
    <div class="col justify-content-center zoom">
      <a href="{{ url_for('rmf_get_view') }}"><img src="{{ url_for('rmf.static', filename='img/RMF_FM_logo.svg.png') }}"/><p>RMF24</p></a>
    </div>
    <div class="col justify-content-center zoom">
      <a href="{{ url_for('test') }}"><img src="static/img/test.png"/><p>Test News</p></a>
    </div>
    <div class="col justify-content-center zoom">
      <a href="{{ url_for('test') }}"><img src="static/img/test.png"/><p>Test News</p></a>
    </div>
  </div>
</div>
{% endblock %}
