{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('redactor_zone.static', filename='css/redactor_zone.css') }}" type="text/css"/>
{% endblock %}
{% block app %}
<div class="container">
    <div class="row justify-content-start">
        <div class="d-flex align-content-start flex-wrap articles-container">    
            {% for article in user_articles %}
            <div class="card p-2">
              <div class="container-fluid">
                <div class="row justify-content-end btn-delete-row">
                    <div class="col-4 d-flex justify-content-end">
                        <button class="rounded-circle btn-danger btn"
                        data-toggle="modal"
                        data-target=""
                        data-url="">&times;</button>
                      </div>
                  </div>
                <div class="row">
                  <div class="col d-flex justify-content-start">
                    <a class="article-link" href="/redactor-zone/user-article/{{ article.article_id }}">
                      <b>{{ article.article.title[:20] }}</b>
                    </a>
                  </div>
                </div>
              </div>
            </div>
             {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
