{% extends "base.html" %}
{% block app %}
<div class="row justify-content-center">
  <div class='col'>
    <h2>Google News</h2>
    <div class="newses">
      <a class="news-link" href="https://news.google.com{{ link }}"><p>{{ gc[0][0] }}</p></a>
      <a class="news-link" href="https://news.google.com{{ link_2 }}"><p>{{ gc[1][0] }}</p></a>
      <a class="news-link" href="https://news.google.com{{ link_3 }}"><p>{{ gc[2][0] }}</p></a>
      <a class="news-link" href="https://news.google.com{{ link_4 }}"><p>{{ gc[3][0] }}</p></a>
      <a class="news-link" href="https://news.google.com{{ link_5 }}"><p>{{ gc[4][0] }}</p></a>
    </div>
  </div>
</div>
<div class="row justify-content-center move-down">
  <div class="col">
    <a href="https://news.google.com/?hl=en-US&gl=US&ceid=US:en">
      <div class="cont">
        <img class="main-img" src="static/img/news-report.png"/>
        <div class="overlay">
          <div class="text">Click Me</div>
          <h5>To get more info...</h5>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
