{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('redactor_zone_forum.static', filename='css/forum-main.css') }}" type="text/css"/>

{% endblock %}

{% block app %}
      <img class="forum-main-img" src="{{ url_for('static', filename='img/idea.jpg') }}" class="img-fluid">
    
    <div class="row justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="card mb-3">
                <div class="container-fluid">
                  <div class="card-body text-light">
                    <h5 class="card-title">
                        <img src="{{ url_for('redactor_zone.static', filename='img/categories/png/049-writing.png') }}"/>
                      </h5>
                      <a href="{{ url_for('redactor_zone_forum_create_post_get') }}"><p class="card-text">Write a post.</p></a>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="container-fluid">
                  <div class="card-body text-light">
                    <h5 class="card-title">
                        <img src="{{ url_for('redactor_zone.static', filename='img/categories/png/025-Jigsaw.png') }}"/>
                    </h5>
                    <a href="{{ url_for('redactor_zone_forum_explore') }}"><p class="card-text">Explore.</p></a>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="container-fluid">
                  <div class="card-body text-light">
                    <h5 class="card-title">
                      <img src="{{ url_for('redactor_zone.static', filename='img/categories/png/046-stamp collecting.png') }}"/>
                    </h5>
                    <a href="{{ url_for('redactor_zone_forum_my_posts') }}"><p class="card-text">Go to Your posts.</p></a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    <div class="row justify-content-start" style="margin-top: 30px;">
        <div class="col d-flex justify-content-start">
            <h2 class="latest-posts"><span style="color: red;">LATEST</span>POSTS</h2>
        </div>
        <div class="col d-flex justify-content-start">
          <div class="posts-container-1"></div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px;">
      <div class="col d-flex justify-content-start">
        <div class="posts-container-1"></div>
    </div>
  </div>

{% endblock %}