  .rd-img {
    width: 40%;
    height: 60%;
  }
  
  .test {
    width: 80%;
    height: 80%;
    margin: 20px auto;
  }
  

  a {
      text-decoration: none;
      color: white;
  }

  a:hover {
      text-decoration: none;
  }