#forum-container {
    width: 1000px;
    margin: 0 auto;
}

.forum-main-img {
    width: 60vw;
    height: 55vh;
    border: 1px solid red;
}



.card {
    background-color: inherit !important;
    width: 21rem;
}

.col {
    margin: 20px auto;
}

.post-section {
    margin: 50px auto;
}

.badge {
    margin-right: 15px;
    height: fit-content;
}

.c-2 {
    margin: 50px auto;
    background-color:rgb(34, 32, 32);
}

.response-content {
    font-family:sans-serif;
    font-weight:300;
}

.latest-posts {
    padding-left: 50px;
}

.post-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}

.mod-time {
    font-size: xx-small;
}