{% extends "base.html" %}
{% block app %}
<div class="container">
  <div style="text-align:center">
    <h2>Contact Me</h2>
    <p>Swing by for a cup of coffee, or leave me a message:</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 d-flex justify-content-center">
      <form action="#" method="post">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="poland">Poland</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Subject..">
        <label for="content">Message</label>
        <textarea id="content" name="content" placeholder="Write something.." style="height:170px; width: 100%;"></textarea>
        <button type="submit" class="btn btn-light float-right">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
