<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% assets 'vendors_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Content Agregator v1</title>
    {% block links %} {% endblock %}
    {% assets 'base_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <div class="container">
      <ul class="nav justify-content-center">
        {% if not session['redactor'] %}
        <li class="nav-item">
          <a class="nav-link active" href="/about">About APP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact_form_view') }}">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Czembri">Github</a>
        </li>
        {% endif %}
        {% if session['redactor'] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('how_to_start') }}">How to start?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Forum</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Your zone</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Your articles</a>
            <a class="dropdown-item" href="#">Create an article</a>
            <a class="dropdown-item" href="#">Invite to Your zone</a>
            <a class="dropdown-item" href="#">Achievements</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Authentication</a>
          <div class="dropdown-menu">
            {% if session.logged_in %}
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
            <a class="dropdown-item" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </li>
        {% if session['logged_in'] %}
        <li class="nav-item">
          <a class="nav-link" href="#">{{ session['username'] }}</a>
        </li>
        {% endif %}
      </ul>
      
        <header>
          <div class="row justify-content-center">
            <div class="col">
              <main role="main" class="container">
                <div class="row justify-content-center">
                  <div>
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>{{ message }}</strong> 
                          </div>
                    {% endfor %}
                    {% block content %}{% endblock %}
                  </div>
                </main>
              <h1 style="text-align: center;"><a href="/" >Content Agregator v1</a></h1>
            </div>
          </div>
        </header>
         <div class="row justify-content-center">
           
            {% block app %} {% endblock %}
          </div>
        <div class="row justify-content-center">
            <footer>Designed by Aleksandra Czembrowska</footer>
        </div>
    </div>
    {% block scripts %} {% endblock %}
    <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/common.js') }}"></script>
</body>
</html>
