{% extends "base.html" %}
{% block app %}
<div class="row justify-content-center">
  <div class='col'>
    <h2>BBC News</h2>
    <div class="newses">
        <a class="news-link" href="https://www.bbc.com{{ link }}"><p>{{ bbc[0][0] }}</p></a>
        <a class="news-link" href="https://www.bbc.com{{ link_2 }}"><p>{{ bbc[1][0] }}</p></a>
        <a class="news-link" href="https://www.bbc.com{{ link_3 }}"><p>{{ bbc[2][0] }}</p></a>
        <a class="news-link" href="https://www.bbc.com{{ link_4 }}"><p>{{ bbc[3][0] }}</p></a>
        <a class="news-link" href="https://www.bbc.com{{ link_5 }}"><p>{{ bbc[4][0] }}</p></a>
    </div>
  </div>
</div>
<div class="row justify-content-center move-down">
  <div class="col">
    <a href="https://www.bbc.com/news">
      <div class="cont">
        <img class="main-img" src="static/img/bbc.png"/>
        <div class="overlay">
          <div class="text">Click Me</div>
          <h5>To get more info...</h5>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
