{% extends "base.html" %}
{% block app %}
<div class="row justify-content-center">
  <div class='col'>
    <h2>CNN News</h2>
    <div class="newses">
      <a class="news-link" href="https://edition.cnn.com{{ link }}"><p>{{ cnn[0][0] }}</p></a>
      <a class="news-link" href="https://edition.cnn.com{{ link_2 }}"><p>{{ cnn[1][0] }}</p></a>
      <a class="news-link" href="https://edition.cnn.com{{ link_3 }}"><p>{{ cnn[2][0] }}</p></a>
      <a class="news-link" href="https://edition.cnn.com{{ link_4 }}"><p>{{ cnn[3][0] }}</p></a>
      <a class="news-link" href="https://edition.cnn.com{{ link_5 }}"><p>{{ cnn[4][0] }}</p></a>
    </div>
  </div>
</div>
<div class="row justify-content-center move-down">
  <div class="col">
    <a href="https://edition.cnn.com/world">
      <div class="cont">
        <img class="main-img" src="static/img/cnn.png"/>
        <div class="overlay">
          <div class="text">Click Me</div>
          <h5>To get more info...</h5>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
